include README.rst
include NEWS.rst
include OLDNEWS.rst
include INSTALL.rst
include MIGRATION.rst
include OLDMIGRATION.rst
include CREDITS.rst
recursive-include docs *.rst
recursive-include docs *.xml
include Makefile
recursive-include demos *
recursive-include scripts *.py
include px/spc.gif
