body
{
	font-family: "Verdana", "Arial", "XHelvetica", "Helvetica", sans-serif;
	font-size: 10pt;
	background-color: #fff;
	color: #000;
	margin-top: 20pt;
	margin-bottom: 20pt;
	margin-left: 80pt;
	margin-right: 30pt;
}
div.indent
{
	text-indent: 1.5em;
}
var.name
{
	font-family: monospace;
	font-style: normal;
	color: #0f0;
}
code.class
{
	font-family: monospace;
	font-style: normal;
	color: #600;
}
div.method, div.function
{
	margin-top: 10pt;
	margin-bottom: 10pt;
}
div.method div.name, div.function div.name
{
	text-indent: -3em;
	margin-left: 3em;
}
div.method div.name span.name
{
	font-weight: bold;
}

div.method div.description
{
	margin-left: 3em;
}
code.method
{
	font-family: monospace;
	font-style: normal;
	color: #006;
}
code.function
{
	font-family: monospace;
	font-style: normal;
	color: #006;
}
code.arg
{
	font-family: monospace;
	font-style: normal;
	color: #060;
}
pre
{
	font-family: monospace;
	font-size: 8pt;
}
