@import url("theme.css");

@font-face
{
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: 300;
	src: url(fonts/SourceSansPro-Light.eot);
	src: local('SourceSansPro-Light'), url(fonts/SourceSansPro-Light.woff) format('woff');
}

@font-face
{
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: 400;
	src: url(fonts/SourceSansPro-Regular.eot);
	src: local('SourceSansPro-Regular'), url(fonts/SourceSansPro-Regular.woff) format('woff');
}

@font-face
{
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: 600;
	src: url(fonts/SourceSansPro-Semibold.eot);
	src: local('SourceSansPro-Semibold'), url(fonts/SourceSansPro-Semibold.woff) format('woff');
}

@font-face
{
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: 700;
	src: url(fonts/SourceSansPro-Bold.eot);
	src: local('SourceSansPro-Bold'), url(fonts/SourceSansPro-Bold.woff) format('woff');
}

@font-face
{
	font-family: "Source Code Pro";
	font-style: normal;
	font-weight: 300;
	src: url(fonts/SourceCodePro-Light.eot);
	src: local('SourceCodePro-Light'), url(fonts/SourceCodePro-Light.ttf.woff) format('woff');
}

@font-face
{
	font-family: "Source Code Pro";
	font-style: normal;
	font-weight: 400;
	src: url(fonts/SourceCodePro-Regular.eot);
	src: local('SourceCodePro-Regular'), url(fonts/SourceCodePro-Regular.ttf.woff) format('woff');
}

@font-face
{
	font-family: "Source Code Pro";
	font-style: normal;
	font-weight: 600;
	src: url(fonts/SourceCodePro-Semibold.eot);
	src: local('SourceCodePro-Semibold'), url(fonts/SourceCodePro-Semibold.ttf.woff) format('woff');
}

@font-face
{
	font-family: "Source Code Pro";
	font-style: normal;
	font-weight: 700;
	src: url(fonts/SourceCodePro-Bold.eot);
	src: local('SourceCodePro-Bold'), url(fonts/SourceCodePro-Bold.ttf.woff) format('woff');
}

body
{
	font-family: "Source Sans Pro", "Trebuchet MS", Arial, Helvetica, XHelvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6
{
	margin: 1.6em 0 0.5rem 0;
	font-weight: 400;
	font-family: "Source Sans Pro", "Trebuchet MS", Arial, Helvetica, XHelvetica, sans-serif;
}

.document p,
.document li,
.document dd,
.document ul,
.document ol,
.document dl
{
	line-height: 166%;
	margin-bottom: 0.8rem;
}

.document dt
{
	line-height: 166%;
}

div[class^='highlight'] pre
{
	font-family: "Source Code Pro", monospace;
	font-size: 0.8em;
	padding: 0.5rem 0.8rem;
}

.code-block-caption
{
	margin-bottom: 3px;
}

.code-block-caption .caption-text
{
	font-size: 80%;
	color: #999;
}

.code-block-caption .headerlink
{
	display: none;
	padding-left: 0.5em;
	font-size: 80%;
}

.code-block-caption:hover .headerlink
{
	display: inline-block;
}

code, .rst-content tt, .rst-content code
{
	font-family: "Source Code Pro", monospace;
	color: inherit;
	background-color: rgba(255, 255, 255, 0.66);
	font-size: inherit;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 0.3em;
	padding: 1px 0.3em;
	margin: 0;
}

.wy-menu-vertical li code, .wy-menu-vertical li .rst-content tt, .rst-content .wy-menu-vertical li tt
{
	border-radius: 0.3em;
	padding: 1px 0.3em;
	margin: 0;
	background-color: rgba(255, 255, 255, 0.05);
	border: 1px solid rgba(0, 0, 0, 0.3);
}

.rst-content dl dt
{
	font-weight: 600;
}

h1, h2, .rst-content .toctree-wrapper p.caption, h3, h4, h5, h6, legend
{
	font-weight: 400;
	font-family: "Source Sans Pro", "Trebuchet MS", Arial, Helvetica, XHelvetica, sans-serif;
}

.literal-block-wrapper
{
	margin: 0 0 0.8rem 0;
}

.codeblock, pre.literal-block, .rst-content .literal-block, .rst-content pre.literal-block, div[class^='highlight']
{
	margin: 0 0 0.8rem 0;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 0.3em;
	background-color: rgba(255, 255, 255, 0.66);
}

.rst-content tt.xref, a .rst-content tt, .rst-content tt.xref, .rst-content code.xref, a .rst-content tt, a .rst-content code
{
	color: inherit;
	font-weight: normal;
}

.rst-content dl:not(.docutils) tt, .rst-content dl:not(.docutils) tt, .rst-content dl:not(.docutils) code
{
	font-weight: normal;
}

.rst-content tt.literal, .rst-content tt.literal, .rst-content code.literal
{
	color: inherit;
}

.wy-plain-list-disc li, .rst-content .section ul li, .rst-content .toctree-wrapper ul li, article ul li
{
	margin-bottom: 12px;
}

.rst-content .viewcode-link, .rst-content .viewcode-back
{
	color: inherit;
}

.wy-menu-vertical
{
	width: 400px;
}

.wy-side-nav-search
{
	width: 400px;
	background-color: #0063a8;
	background-image: url('../NautilusBlue.jpg');
	background-attachment: fixed;
	background-position: top left;
	background-repeat: no-repeat;
}

.wy-side-scroll
{
	width: 420px;
}

.wy-nav-side
{
	width: 400px;
}

.wy-body-for-nav
{
	background-size: 400px 1px;
}

.wy-nav-content-wrap
{
	margin-left: 400px;
}

@media screen and (max-width: 768px)
{
	.wy-nav-side
	{
		left: -400px;
	}
	.wy-nav-content-wrap
	{
		margin-left: 0;
	}
	img[src^='https://img.shields.io']
	{
		width: auto;
	}
}

table.download td:last-child
{
	text-align: right;
}

.wy-breadcrumbs li code, .wy-breadcrumbs li .rst-content tt, .rst-content .wy-breadcrumbs li tt
{
	padding: 0;
}

.rst-content dl,
.rst-content dl:not(.docutils)
{
	padding: 0;
	margin: 0 0 12px 0;
}

.rst-content dl:not(.docutils) dt,
.rst-content dl:not(.docutils) dl dt
{
	background-color: inherit;
	color: inherit;
	border: 0;
	border-top: 0;
	margin: 0;
	padding: 0;
	line-height: 166%;
}

.rst-content dl.class,
.rst-content dl.function,
.rst-content dl.method,
.rst-content dl.exception,
.rst-content dl.attribute
{
	border: 1px solid rgba(0, 0, 0, 0.2);
	margin: 0 0 0.8rem 0;
	border-radius: 0.3em;
}

.rst-content dl.class > dt,
.rst-content dl.function > dt,
.rst-content dl.method > dt,
.rst-content dl.exception > dt,
.rst-content dl.attribute > dt,
.rst-content dl:not(.docutils) dl.class > dt,
.rst-content dl:not(.docutils) dl.function > dt,
.rst-content dl:not(.docutils) dl.method > dt,
.rst-content dl:not(.docutils) dl.exception > dt,
.rst-content dl:not(.docutils) dl.attribute > dt
{
	background-color: rgba(1, 1, 1, 0.05);
	color: inherit;
	display: block;
	border: 0;
	margin: 0;
	padding: 0.2rem 0.8rem;
}

.rst-content dl.class > dd,
.rst-content dl.function > dd,
.rst-content dl.method > dd,
.rst-content dl.exception > dd,
.rst-content dl.attribute > dd,
.rst-content dl:not(.docutils) dl.class > dd,
.rst-content dl:not(.docutils) dl.function > dd,
.rst-content dl:not(.docutils) dl.method > dd,
.rst-content dl:not(.docutils) dl.exception > dd,
.rst-content dl:not(.docutils) dl.attribute > dd
{
	margin: 0.2rem 0.8rem;
}

.rst-content dl.class > dd > *:last-child,
.rst-content dl.function > dd > *:last-child,
.rst-content dl.method > dd > *:last-child,
.rst-content dl.exception > dd > *:last-child,
.rst-content dl.attribute > dd > *:last-child,
.rst-content dl:not(.docutils) dl.class > dd > *:last-child,
.rst-content dl:not(.docutils) dl.function > dd > *:last-child,
.rst-content dl:not(.docutils) dl.method > dd > *:last-child,
.rst-content dl:not(.docutils) dl.exception > dd > *:last-child,
.rst-content dl:not(.docutils) dl.attribute > dd > *:last-child
{
	margin-bottom: 0 !important;
}

.wy-alert,
.rst-content .note,
.rst-content .attention,
.rst-content .caution,
.rst-content .danger,
.rst-content .error,
.rst-content .hint,
.rst-content .important,
.rst-content .tip,
.rst-content .warning,
.rst-content .seealso,
.rst-content .admonition-todo
{
	padding: 0 0.8rem 0.2rem 0.8rem;
	margin-bottom: 0.8rem;
	border-radius: 0.3em;
	border: 1px solid rgba(0, 0, 0, 0.2);
	line-height: 166%;
}

.wy-alert-title, .rst-content .admonition-title
{
	padding: 0.4rem 0.8rem;
	margin: 0 -0.8rem 0.2rem -0.8rem;
	border-top-left-radius: 0.3em;
	border-top-right-radius: 0.3em;
}

dt em
{
	font-style: normal;
}
