@import url("theme.css");

h1, h2, h3, h4, h5, h6
{
	margin: 1em 0 0.2em 0;
}

p
{
	margin-bottom: 12px;
}

.codeblock, pre.literal-block, .rst-content .literal-block, .rst-content pre.literal-block, div[class^='highlight']
{
	margin: 0 0 12px 24px;
}

.caption-text
{
	font-size: 90%;
	color: #999;
}

.headerlink
{
	padding-left: 0.5em;
	font-size: 80%;
}

code, .rst-content tt, .rst-content code
{
	background-color: inherit;
	color: inherit;
	border: 0px;
	font-size: 90%;
	padding: 0;
}

.rst-content tt.xref, a .rst-content tt, .rst-content tt.xref, .rst-content code.xref, a .rst-content tt, a .rst-content code
{
	color: inherit;
}

.rst-content tt.literal, .rst-content tt.literal, .rst-content code.literal
{
	color: inherit;
}

dt, dd
{
	line-height: 24px;
}

.wy-plain-list-disc li, .rst-content .section ul li, .rst-content .toctree-wrapper ul li, article ul li
{
	margin-bottom: 12px;
}

.rst-content .viewcode-link, .rst-content .viewcode-back
{
	color: inherit;
}

.wy-menu-vertical
{
	width: 400px;
}

.wy-side-nav-search
{
	width: 400px;
	background-color: #0063a8;
	background-image: url('../NautilusBlue.jpg');
	background-attachment: fixed;
	background-position: top left;
	background-repeat: no-repeat;
}

.wy-side-scroll
{
	width: 420px;
}

.wy-nav-side
{
	width: 400px;
}

.wy-body-for-nav
{
	background-size: 400px 1px;
}

.wy-nav-content-wrap
{
	margin-left: 400px;
}

@media screen and (max-width: 768px)
{
	left.wy-nav-side
	{
		left: -400px;
	}
	.wy-nav-content-wrap
	{
		margin-left: 0;
	}
}

table.download td:last-child
{
	text-align: right;
}

.wy-breadcrumbs li code, .wy-breadcrumbs li .rst-content tt, .rst-content .wy-breadcrumbs li tt
{
	padding: 0;
}

.rst-content dl,
.rst-content dl:not(.docutils)
{
	padding: 0;
	margin: 0 0 12px 0;
}

.rst-content dl:not(.docutils) dt,
.rst-content dl:not(.docutils) dl dt
{
	background-color: inherit;
	color: inherit;
	border: 0;
	border-top: 0;
	margin: 0;
	padding: 0;
	line-height: 24px;
}

.rst-content dl.class,
.rst-content dl.function,
.rst-content dl.method,
.rst-content dl.exception,
.rst-content dl.attribute
{
	border-left: 1px solid #e1e4e5;
	border-bottom: 1px solid #e1e4e5;
	margin: 0 0 12px 0;
}

.rst-content dl.class > dt,
.rst-content dl.function > dt,
.rst-content dl.method > dt,
.rst-content dl.exception > dt,
.rst-content dl.attribute > dt,
.rst-content dl:not(.docutils) dl.class > dt,
.rst-content dl:not(.docutils) dl.function > dt,
.rst-content dl:not(.docutils) dl.method > dt,
.rst-content dl:not(.docutils) dl.exception > dt,
.rst-content dl:not(.docutils) dl.attribute > dt
{
	background-color: rgba(1, 1, 1, 0.05);
	color: inherit;
	display: block;
	border: 0;
	margin: 0;
	padding: 6px 24px;
}

.rst-content dl.class > dd,
.rst-content dl.function > dd,
.rst-content dl.method > dd,
.rst-content dl.exception > dd,
.rst-content dl.attribute > dd,
.rst-content dl:not(.docutils) dl.class > dd,
.rst-content dl:not(.docutils) dl.function > dd,
.rst-content dl:not(.docutils) dl.method > dd,
.rst-content dl:not(.docutils) dl.exception > dd,
.rst-content dl:not(.docutils) dl.attribute > dd
{
	margin: 12px 0 12px 24px;
}

.rst-content dl.class > dd > *:last-child,
.rst-content dl.function > dd > *:last-child,
.rst-content dl.method > dd > *:last-child,
.rst-content dl.exception > dd > *:last-child,
.rst-content dl.attribute > dd > *:last-child,
.rst-content dl:not(.docutils) dl.class > dd > *:last-child,
.rst-content dl:not(.docutils) dl.function > dd > *:last-child,
.rst-content dl:not(.docutils) dl.method > dd > *:last-child,
.rst-content dl:not(.docutils) dl.exception > dd > *:last-child,
.rst-content dl:not(.docutils) dl.attribute > dd > *:last-child
{
	margin-bottom: 0 !important;
}

dt em
{
	font-style: normal;
}
