body
{
	font-family: "Times New Roman", "XTimes", "Times", serif;
	font-size: 12pt;
	line-height: 16pt;
	background-color: white;
	margin: 20pt 50pt;
}

p
{
	margin: 0pt 0pt 5pt 0pt;
}

div.quotation
{
	margin: 16pt 0pt;
}

div.source
{
	color: #666;
	font-family: "Verdana", "Arial", "XHelvetica", "Helvetica", sans-serif;
	font-size: 10pt;
	line-height: 12pt;
	margin: 0pt 0pt 0pt 10pt;
}
div.note
{
	color: #666;
	font-family: "Verdana", "Arial", "XHelvetica", "Helvetica", sans-serif;
	font-size: 8pt;
	line-height: 10pt;
	margin: 1pt 0pt 10pt 0pt;
}
h1
{
	font-family: "Arial Narrow", "Arial", "XHelvetica", "Helvetica", sans-serif;
	font-size: 36pt;
	line-height: 100%;
	font-weight: normal;
	color: #0050b2;
	margin: 0pt 0pt 0pt 0pt;
}
h2
{
	font-family: "Arial Narrow", "Arial", "XHelvetica", "Helvetica", sans-serif;
	font-size: 20pt;
	line-height: 100%;
	font-weight: normal;
	color: #0050b2;
	margin: 0pt 0pt 0pt 0pt;
}
pre
{
	margin: 6pt 0pt 6pt 3em;
}

div.description
{
	color: #666;
	font-family: "Verdana", "Arial", "XHelvetica", "Helvetica", sans-serif;
	font-size: 10pt;
	line-height: 12pt;
	margin: 5pt 0pt 30pt 0pt;
}
